version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: employee_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: employee_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: employee_api
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      APP_PORT: 8080
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: employee_db
      JWT_SECRET: supersecretkey
    restart: always

volumes:
  pgdata:
